body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
header{
  z-index: 1;
  position: fixed;
  background: #22242A;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}

.left_area h3{
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span{
  color: #19B3D3;
}

.logout_btn{
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
  text-transform: uppercase;
}

.logout_btn:hover{
  background: #0B87A6;
}

.sidebar{
  z-index: 1;
  top: 0;
  background: #2f323a;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4{
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover, .active{
  background: #19B3D3;
  border-bottom: 1px solid #2f323a;
}

.sidebar i{
  padding-right: 10px;
}

label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #19B3D3;
}

#check:checked ~ .sidebar{
  left: -185px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content{
  width: (100% - 250px);
  margin-top: 60px;
  padding: 20px;
  margin-left: 250px;
  
  /* display: flex; */
  /* background: url(image/background.png) no-repeat; */
  /* background-position: center;
  background-size: cover; */
  /* height: 100vh; */
  /* border: 1px solid black; */
  transition: 0.5s;
}

#check:checked ~ .content{
  margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info{
  display: none;
}

#check{
  display: none;
}

.mobile_nav{
  display: none;
}

.content .card p{
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}

footer{
  /* bottom: 10px; */
  text-align: center;
  font-size: 15px;
  left: 50%;
  /* transform: translateX(50%); */
  /* position: absolute; */
}

/* Responsive CSS */

@media screen and (max-width: 780px){
    .sidebar{
      display: none;
    }

    #sidebar_btn{
      display: none;
    }

    .content{
      margin-left: 0;
      margin-top: 0;
      /* padding: 10px 20px; */
      transition: 0s;
    }

    #check:checked ~ .content{
      margin-left: 0;
    }

    .mobile_nav{
      display: block;
      width: calc(100% - 0%);
    }

    .nav_bar{
      background: #222;
      width: (100% - 0px);
      margin-top: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }

    .nav_bar .mobile_profile_image{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .nav_bar .nav_btn{
      color: #fff;
      font-size: 22px;
      cursor: pointer;
      transition: 0.5s;
      transition-property: color;
    }

    .nav_bar .nav_btn:hover{
      color: #19B3D3;
    }

    .mobile_nav_items{
      background: #2F323A;
      display: none;
    }

    .mobile_nav_items a{
      color: #fff;
      display: block;
      text-align: center;
      letter-spacing: 1px;
      line-height: 60px;
      text-decoration: none;
      box-sizing: border-box;
      transition: 0.5s;
      transition-property: background;
    }

    .mobile_nav_items a:hover{
      background: #19B3D3;
    }

    .mobile_nav_items i{
      padding-right: 10px;
    }

    .active{
      display: block;
    }
}


/* Categories css */
.content .content-header{
  margin: 10px;
}
.content .subheader{
  background-color: #383c46;
  padding: 10px 30px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.content .subheader a{
  float: right;
  font-size: 50px;
  margin-top: -60px;
  color:#19B3D3;
}
.content .subheader a:hover{
  color:#70d8ec;
}
.content .subheader h2{
  color: white;
}
table {
  /* margin: 20px; */
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
}
th{
  background-color: teal;
  padding: 15px;
  border: 2px solid #383c46;
  text-align: left;
  color: wheat;
}

td{
  border: 2px solid #383c46;
  text-align: left;
  padding: 10px;
}
.action-body{
  float: right;
  /* width:220px; */
}
tr:nth-child(even) {
  background-color: #dddddd;
}
td .btn{
  padding: 8px 10px;
  margin-RIGHT: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px  rgb(58, 55, 51);
  /* width: 50px; */
  
}
td .active{
  background-color: rgba(65, 221, 18);
} 
td .deactive{
    background-color: #f3970dec;
}
td .edit{
      background-color: rgb(31, 133, 201);
}
td .delete{
  background-color: rgb(240, 39, 39);
}

td span a{
  text-decoration: none;
  color: white;
}
form{
  background-color: grey;
  padding-top:30px ;
  /* height: 100vh; */
}
form label{
  padding: 15px;
  font-size: 20px;
  color: white;
}
form input, button, select, option, textarea {
  /* border: 2px solid greenyellow; */
  width: 95%;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;
  outline: none; 
  border: none;
}
form select,option{
  width: 97%;
}
form button {
  width: 97%;
  font-size: 20px;
  color: white;
  font-size: bold;
  cursor: pointer;
  background-color:#19B3D3;
  border: 2px solid #19B3D3;
  transition: 0.5s background-color;
}
form button[type=reset]{
  background-color:transparent;
  border: 2px solid #19B3D3;
}
form button:hover{
  background-color: transparent;
  border:2px solid white;
}
form button[type=reset]:hover{
  background-color:#19B3D3;
  border: 2px solid #19B3D3;
}


/* --------------------Admin Login------------------- */
form h1{
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-style: bold;
}
form h1 span{
  color: #19B3D3;
}

.admin-login{
  width: 600px;
  position: absolute;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.admin-login form{
  border-radius: 10px;
  padding: 30px 20px;
  box-shadow: 5px 5px 20px #2d2e28;
}
.admin-login form input[type=text],input[type=password]{
  width: 93%;
}
.admin-login form input[type=checkbox]{
  width: 20px;
  height: 20px;
  margin-left: 15px;
}
label .remember{
  margin-left: 100px !important;
  
}


.msg{
  font-size: 22px;
  padding: 10px;
  color: rgba(197, 32, 32, 0.938);
}
tr td img{
  width:80px;
  height: 40px;
}
