*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

nav ul{
    list-style: none;
    width: 100%;
    padding-top: 7px;
}
nav ul li{
    display: inline;
    padding: 5px 20px;
    font-size:20px;
    border-right: 2px solid steelblue;
    
}
.fas {
    
    margin-right: 5px;
}
.search-box{
    border: 2px solid rgb(39, 155, 170);
    border-radius: 3px;
    width: 40%;
    background-color:#43cbd4;
    
}

.search-box input{
    border: none;
    padding: 15px 10px;
    outline: none;
    
}
.search-box input[type="text"]{
    width: 70%;
    font-size: 20px;
}
.search-box input[type="submit"]{
    width:29%;
    font-size: 20px;
    padding: 5px 10px;
    background-color:#43cbd4;
}

a {
    text-decoration: none;
}
a:hover{
    text-decoration: none !important;
    color: black;
}
.btn a{
    list-style: none;
    padding: 8px;
    border: 2px solid rgb(34, 93, 141);
    box-shadow: 1px 1px 5px 0px black;
    margin: 10px;
    border-radius: 10px;
    background-color:lightskyblue ;
    font-weight: 400;
}
b{
    color:  rgb(130, 221, 228);
}
.logo a:hover{
    text-decoration: none;
}
.login a:hover{
    background-color: white;
    /* border: none; */
    text-decoration: none;
}
.contact p{
    font-size: 20px;
}
.cartfav{
    transform: scale(2);
    margin-left: 40px;
}
.cartfav a{
    margin-left: 20px;
}
.cartfav a i,sup{
    color:  rgb(88, 199, 216);
}

.top{
    background-color: rgb(174, 221, 228);
}
.mid{
    height: 100px;
}
.down{
    background-color: rgb(130, 221, 228);
}


.row{   
    display: flex;
    
    /* padding: 30px; */
    /* align-items: left; */
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* border: 4px solid black; */
}
.row1{
    justify-content: space-between;
}

.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width:100%;
}
.small-container{
    max-width: 1250px;
    margin:auto;
}
.small-containerr{
    width: 80%;
    margin:auto;
}
.col-4{
    flex-basis: 23%;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    cursor: pointer;
    border:1px solid cadetblue;
    margin-left:2%;
}
.col-4 img{
    width:100%;
    height: 300px;
    
    border: 1px solid cadetblue;
    
}
.cardDetail{
    padding-left: 5px;
}
.title{
    text-align: center;
    margin: 0 auto 30px;
    line-height: 60px;
    color: #555;
    position: relative;
}
.title::after{
    content: '';
    background: #43cbd4;
    width: 120px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
} 
.col-4 p{
    font-size: 14px;
}
.price h4,h5{
    display: inline-block;
}
.price h5:nth-child(2){
font-weight: 300;
color:rgb(63, 65, 62);
}
.price h5:nth-child(3){
    color: green;
}
.col-4 .btn{
    display: flex;
    justify-content: space-between;
    margin: 0 !important;
    padding: 0;
}
.col-4 .btn a{
    padding: 5px 10px;
    color:white;
    background-color:  #43cbd4;
    margin-bottom: 10px;
}
.col-4 .btn a:hover{
    padding: 5px 10px;
    color:#43cbd4;
    background-color: white ;
}
.rating {
    border: 1px solid #43cbd4;
    padding: 0 5px;
    border-radius: 5px;
    display: inline-block;
}

.rating  li{
    color:#43cbd4;
}
.col-4:hover{
    transform: translateY(-10px); 
     opacity: 0.9;
}
.col-4 .hide_qty{
    display: none !important;
    
}
/* --------------------testimonial-------------------- */
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    flex-basis: 30%;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1 );
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50px;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa-quote-left{
    font-size: 30px;
    color:rgb(109, 193, 204);
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color:#777;
}
.col-3 .rating{
    display: block !important;
    border: none;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/* ----------------------Brands------------- */
.brands{
    margin: 100px 0;
}
.col-5{
    width: 160px;
}
.col-5 img{ 
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{ 
    filter: grayscale(0);
}
/* --------------------------footer------------------------ */
footer{
    background-color: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
footer p{
    color: #8a8a8a;
}
footer h3{
    margin-bottom: 20px;
    color: #fff;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px; 
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12px;
    text-align: center;
}
ul {
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img {
    width: 140px;
}
footer hr{
    border: none;
    background-color: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
footer .copyright{
    text-align: center;
}

/* -------------------------category page--------------------------- */
.path {
    margin: 20px;
}

.path a{
    padding: 10px;
    font-size: 20px;
}
.cat_title{
    position: relative;
}
select.drop_down{
    position: absolute;
    right: 2%;
    margin: 25px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #43cbd4;

}

/* ----------------------single Product Details---------------------- */
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.single-product{
    width: 80%;
    margin: auto;
}
.single-product .col-2 img{
    padding: 10;
    height: 400px;

}
.single-product .col-2{
    padding: 20px;

}
.col-2 h4{
    font-size: 25px;
    margin: 20px 0;
    font-weight: bold;
}
.col-2 h5{
    font-size: 20px;
}

.single-product select{
    display: block;
    padding: 10px;
    margin: 20px 0;
    border: 3px solid #59aecf;
    border-radius: 10px;
    font-size: 20px;
    
}
.single-product input{
    width: 50px;
    height: 40px;
    /* padding-left: 10px;
    margin-right: 10px; */
    padding: 20px 10px;
    font-size: 20px;
    border: 2px solid #59aecf;
}
input:focus, select:focus{
    outline: none;
}
.single-product .fa{
    color: rgb(88, 152, 192);
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.small-img-col img{
    width: 100%;
    cursor: pointer;
    padding: 5px;
    height: 100% !important;
}
.col-2 a{
    background-color:rgb(174, 221, 228);
    padding:10px 20px;
    font-size: 20px;
    margin-left: 20px;
    color: white;
    border-radius:20px;
    transition: letter-spacing 0.5s;
}
.col-2 a:hover{
    letter-spacing: 2px;
}
.col-2 p{
    font-size: 20px;
}

/* ------------------------cart Items------------------------ */
.cart-page{
    width: 80%;
    margin: 20px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}

table th{
    text-align:left;
    color: #fff;
    background-color:#4ecfcf;
    padding: 10px;
    font-weight: normal;
}
table td{
    padding: 30px 30px;
    /* border: 1px solid lightseagreen; */
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
    border: 1px solid lightseagreen;
}
td a{
    color: #4acfcf;
    font-size:25px;
}
td img{
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top:2px solid #3cc4c9 ;
    width: 100%;
    max-width: 400px;
}
.total-price td{
    padding: 5px;
}
th:last-child{
    text-align: right;
}
td:last-child{
    text-align: right;
    padding: 10px;
}
td:first-child{
    padding: 0;
}

.checkout{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin:-10px auto 20px;
}
.checkout a{
    color: white;
    background-color:#3cc4c9;
    padding: 10px 15px;
    border-radius: 5px;
}

    span {
    cursor:pointer; 
    }
	
	 .minus, .plus{
			width:30px;
			/* height:30px; */
			background:#f2f2f2;
			border-radius:50px;
			padding:8px 5px 8px 5px;
			border:1px solid #ddd;
            display: inline-block;
             vertical-align: middle;
             text-align: center;
             line-height: 5px;
		}
	.cart-page td	input{
			height:34px;
            width: 30px !important;
            text-align: center;
            font-size: 20px;
			border:1px solid #ddd;
			border-radius:4px;
            vertical-align: middle;
    }
			
/* -----------------------------sign IN---------------------- */
.sign{
    background: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    position: relative;
}
.sign-in{
    width: 400px;
    height: auto;
    border: 2px solid rgb(121, 208, 230);
    border-radius: 10px;
    box-shadow: 0 10px 10px solid lightskyblue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(92, 216, 228);
    padding: 30px;
}
.sign-in h1{
    color: rgb(244, 245, 248);
    text-align: center;
    font-weight: 800;
    margin-bottom: 30px;
}
.sign-in p{
    font-size: 15px;
    color: white;
    text-align: left;
}
.sign-in span{
    position: absolute;
    margin-top: -5%;
    display: block;
    text-align: left !important;
    font-size: 15px;
    color: red;
}
.sign-in input{
    position: relative;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 8%;
}
.sign-in button {
    width: 100%;
    display: block;
    padding: 10px;
    outline: none;
    border: 1px solid aqua;
    background-color: #44d9df;
    margin-bottom: 15px;
    border-radius: 20px;
    font-size: 20px;
}
button:hover{
    background-color: aqua;
    color: white;
  
}
.sign-in a{
    font-size: 15px;
    /* padding: 10px 0; */
    line-height: 30px;  
}


/* --------------------sign up------------------- */
.sign-up{
    width: 700px;
}
.sign-up input{
    width: 100%;
    margin-bottom: 5%;
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
}
.sign-up button{
    padding: 10px;
}
.sign-up span{
    margin-top: -2%;
}
#error_button{
    margin-top: 0%;

}


/* -------------------------contact----------------- */
textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
}
.contact h1{
    margin-bottom: 5px !important;
}
.contact input{
    margin: 0;
}
.contact button{
    margin-top: 10px;
}
.contact span{
    margin-top: 0%;
}
.sign-in span .error_msg{
    text-align: left;
}


/* --------------------------------for checkout page----------------------------- */
.container-checkout{
    width: 100%;
    
}
.checkout-form{
    width: 70%;
    padding: 20px;
    margin-bottom: 10px;
    transition-property:height;
    transition-duration: 0.5;
}
.checkout-order{
    width: 30%;
    /* padding: 10px; */
}
/* .container-checkout .heading{

} */
.container-checkout label{
    display: block;
}
 .container-checkout input,button{
    display: block;
}
.container-checkout input[type="radio"]{
    display: inline-block;
}
.checkout-form input{
    display: block;
}

.container-checkout input[type="text"], .container-checkout input[type="number"], .container-checkout input[type="password"]{
    size: 15px;
    width: 80%;
    padding: 5px;
    margin: 8px;
    border-radius: 5px;
    border-color: rgb(71, 171, 211);
}
.container-checkout button, .container-checkout input[type="submit"]{
    background-color: skyblue;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
}
.container-checkout button:hover, .container-checkout input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(90, 164, 194);
    outline: none;
    border-radius: none;
}

.container-checkout input[type="radio"]{
    padding: 10px;
    font-size: 20px;
}
.container-checkout label{
    font-size: 15px;
    padding-left:10px ;

}
.heading{
    background-color: skyblue;
    width: 100%;
    padding: 5px 30px;
    cursor: pointer;
    margin-bottom: 10px;
    
}
.container-checkout form , .col-1{
    padding-left: 50px;
}
.payment-mode label:nth-child(1){
    display: block;
    margin-top: 20px;
    font-size: 18px;

}
.payment-mode label{
    margin-top: 10px;
    display: inline-block;
    
}
.container-checkout span {
    margin-left: 10px;
}
.checkout-order{
    padding: 20PX;
    background-color: rgb(191, 218, 230);
}
.checkout-order table{
    width: 100%;
    margin: auto;
    padding: 0;
    
}
.checkout-order table p{
    font-size: 15px;
}
#check__form{
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.5s;
}
#billing__form{
    padding-top: 20px;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.5s;
}

#payment__form{
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.5s;
}


/* ----------------------my order page------------------ */



