*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* ---------------------header------------------------ */
.head{
    display: flex;
    /* align-items:; */
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    text-transform: uppercase;
    background-color: rgb(133, 221, 224);
    
}
.head img{
    width: 100px;
    height: 100px;
}
nav{
    background-color: paleturquoise;   
    margin-bottom: -15px;
    
}
nav ul{
    display: flex;
    list-style-type: none;
    padding: 20px 20px; 
}
nav ul li a{
    padding: 20px 20px;
    /* border:2px solid black */
    z-index: 1;
}
nav ul li a:hover{
    text-decoration: none;
    background-color: rgb(106, 201, 238);
    color: white;
}
.carousel-item img{
    height: 500px;
}

/* ------------------------------about seciton--------------- */
.title{
    text-align: center;
    margin: 0 auto 30px;
    line-height: 60px;
    color: rgb(130, 214, 214);
    position: relative;
}
.title::after{
    content: '';
    background:rgb(146, 206, 201);
    width: 150px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.title::before{
    content: '';
    background:rgb(153, 202, 198);
    top: 47px;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(50deg);
}

.about{
    padding: 30px 20px ;
    height: 90vh;
    background-color: #9acfcd7c;
}


.about p{
    margin: 10px 30px;
    font-size: 20px;
    line-height: 40px;
    text-align: justify;
}

/* ------------------------contact Us------------------- */
.contact{
    padding: 10px 30px ;
    width: 100%;
    
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.row .colu-2{
    flex-basis: 50%;
    min-width: 300px;
    padding: 0px 20px;
    /* border: 2px solid black; */
    
}
.colu-2 img{
    width: 100%;
    height: 500px;
    
}
.colu-2 input , textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 2px solid  rgb(201, 246, 243);
}
.colu-2 input:focus , textarea:focus{
    border: 3px solid  rgb(201, 246, 243);
}

.colu-2 input[type=submit],.colu-2 button{
    margin-top: 10px;
    background: rgb(201, 246, 243);
    padding: 15px;
    outline: none;
    border: 2px solid rgb(201, 246, 243);
    font-size: 20px;
    width: 100%;
    margin-top: 10px;
}
.colu-2 input[type=submit]:hover, button:hover{
    background: transparent;
    border: 2px solid rgb(201, 246, 243);
    outline: none;

}

.colu-2 label{
    margin-top: 0;
    margin-left: 0px;

}
.error_msg{
    color: red;
    
}



/* -----------------------------footer seciton-------------------------------- */
footer{
    background-color:rgb(173, 238, 235);
    padding: 10px 20px;
    width: 100%;
    
}

.footer-col-1{
    flex-basis: 30%;
    
}
.footer-col-2{
    flex-basis: 28%;
    
}
.footer-col-3{
    flex-basis: 28%;
    
}
.footer-col-1, .footer-col-2, .footer-col-3{
    margin: 20px 0px;
    text-align: center;
}
.footer-col-1 h2{
    line-height: 50px;
}
.footer-col-1 p{
    line-height: 30px;
}
footer p.copyright{
    text-align: center;
    padding: 10px;
}
footer ul{
    list-style-type: none;
}

footer ul li{
    margin-bottom: 10px;
}

footer hr{
    border: none;
    background-color: #5eeee7;
    height: 5px;
    margin: 10px 30px;
}

html {
    scroll-behavior: smooth;
}


/* -------------------------path------------------------ */
.path{
    width: 100%;
    height: 40px;
    background-color: rgba(173, 241, 241, 0.787);
}
.path span{
    text-align: center;
    display: block;
    line-height: 40px;
}
.path span a{ 
    text-decoration: none;
    font-size: 20px;
    font-weight: 900px;
    text-align: center;
    color: rgb(48, 47, 47);
}
.path span a:hover{ 
    color: rgb(115, 194, 194);
}


/* ---------------status ----------------- */
.login {
    margin: 30px;
}


/* ---------------status ----------------- */
/* .login input, label{
    margin: 30px;
} */


/* --------------------------Mobile Product--------------------------- */
.search form{
    position: absolute;
    right: 70px;
}
.search form input[type="submit"]{
    background-color: skyblue;
}
.search form input {
    border: 2px solid skyblue;
    padding: 10px;
    border-radius: 5px;
}
.mobile_product table,tr,th,td{
    text-align: center;
    border: 2px solid skyblue;
}
.mobile_product td{
    text-align: center;
    border: 2px solid skyblue;
}
.mobile_product table{
    margin: 80px auto 0px auto;
    width: 95%;
}
.mobile_product table tr th{
    padding: 10px;
}
.mobile_product table tr td{
    padding: 8px;
}

  .mobile_product table tr td a{
    padding:5px;
    border-radius: 5px;
    text-decoration: none;
}
.mobile_product table tr td a.view{
    background-color: rgb(201, 246, 243);
}
.mobile_product table tr td a.add_problem{
    background-color: rgb(201, 246, 243);
}

/* --------------------add problem------------------------ */
.problem_form{
    width: 95%;
    margin: auto;
    background-color: rgb(201, 246, 243);
    padding: 20px;
}
.problem_form label{
    font-weight: 700;
    padding: 20px 0;
    width: 200px;
    /* border: 2px solid black; */
}
.problem_form span{
    display: inline-block;
    padding: 20px 10px 0;
    width: 200px;
    /* border: 2px solid black; */
}
.problem_form span select ,textarea{
    width: 100%;
}
.problem_form input[type="submit"],input[type="reset"]{
    margin-top: 20px;
    background: rgb(159, 226, 226);
    padding: 15px;
    outline: none;
    border: 2px solid rgb(123, 175, 172);
    font-size: 20px;
    width: 100%;
}
.problem_form input.product_id{
    display: none;
}

.problem_form input[type="submit"]:hover,input[type="reset"]:hover{
    background: transparent;
    border: 2px solid rgb(12, 12, 12);
    outline: none;
}


/* -----------------------product detail----------------------- */

.product_detail{
    padding: 20px;
    width: 95%;
    background-color: rgb(210, 230, 230) !important;
}

/* ------------------added problems--------------------- */
.added_problems span.btn{
    margin: 10px;
}
.added_problems span.active{
    background-color: rgb(211, 193, 121);
}

.added_problems span.deactive{
    background-color: skyblue;
}





