*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.head{
    display: flex;
    /* align-items:; */
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    text-transform: uppercase;
    background-color: green;
    
}
.head img{
    width: 100px;
    height: 100px;
}
nav{
    background-color: paleturquoise;   
    margin-bottom: -15px;
    
}
nav ul{
    display: flex;
    list-style-type: none;
    padding: 20px 20px; 
}
nav ul li a{
    padding: 20px 20px;
    /* border:2px solid black */
    z-index: 1;
}
nav ul li a:hover{
    text-decoration: none;
    background-color: palevioletred;
    color: white;
}
.carousel-item img{
    height: 500px;
}
.title{
    text-align: center;
    margin: 0 auto 30px;
    line-height: 60px;
    color: #555;
    position: relative;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
